/* VARIABLES CSS PERSONALIZADAS CONTENIDAS EN :root PARA SU REUTILIZACIÓN */
:root {
    --fuente-star-wars: 'Star-Wars', 'fantasy';
    --color-star-wars-headers: #c0c026;
}

/* DECLARACIÓN DE FUENTE PERSONALIZADA */
@font-face {
    font-family: 'Star-Wars';
    src: url(../assets/fonts/Starjedi.ttf) format('truetype');
}

/* ESTILO PARA LOS img */
img {
    width: 100%;
}

/* ESTILO PARA EL ELEMENTO body */
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* ESTILO PARA LOS h2 */
h2 {
    font-family: var(--fuente-star-wars);
    color: var(--color-star-wars-headers);
    letter-spacing: 3px;
    font-size: 4rem;
    text-align: center;
}

/* ESTILO PARA LOS p */
p {
    color: white;
    padding: 20px;
}
