body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

main {
    width: 80%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #d2cffa;
}

tr:nth-child(even) {
    background-color: #6f8ff8;
}

tr>td:nth-child(5) {
    text-align: justify;
}

th {
    background-color: #182de9;
    color: white;
}

button {
    padding: 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #99eb9c;
    color: black;
    transition: all .5s;
}

td:last-of-type button {
    background-color: #f38383;
}

button:hover:not(th button) {
    background-color: #45a049;
    color: white;
}

td:last-of-type button:hover {
    background-color: #eb0909;
}

th button {
    background-color: #182de9;
    color: white;
}

i {
    font-size: 1rem;
}

th {
    width: 16.66%;
}

th form {
    display: inline;
}

th form:last-of-type i {
    transform: rotateY(180deg);
}

.pulsado {
    color: red;
}