* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    font-family: sans-serif;
    color: #777;
}

.humano {
    color: darkorange;
}

h3.personajes {
    text-decoration: underline;
}

#r2d2 {
    color: skyblue;
}

p em {
    color: blueviolet;
}

li > em {
    font-size: 1.4em;
}

h1 + h2 {
    color: red
}

li[id] {
    margin-left: 30px;
}

li[class="robot"] {
    margin-left: 50px;
}

li[class~="muerto"] {
    text-decoration: line-through;
}

*[lang|="en"] {
    color: black;
}

a:hover {
    font-size: 1.5em;
}

p::first-letter {
    font-size: 2em;
}

li::before {
    content: "("attr(class)")";
}

em {
    color: green;
}

#estrella {
    color: darkkhaki;
}