/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la p�gina se vea correctamente.
   ================================================================== */

/*-- B�sico ----------------------------------------------------------*/
ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

img {
  border: none;
}

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  /* width: expression(document.body.clientWidth > 901? "900px": "auto"); */
  margin: 0 auto;
}

/* #cabecera,
#menu,
#lateral,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
  border: 2px solid #777;
} */

#cabecera {
  clear: both;
  padding: 1em;
}

#menu {
  clear: both;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#lateral {
  float: left;
  width: 20%;
}

#contenido {
  float: right;
  width: 78%;
}

#contenido #principal {
  float: left;
  width: 73%;
}

#contenido #secundario {
  float: right;
  width: 20%;
}

#pie {
  clear: both;
  padding: 0.5em 0;
  margin-top: 1em;

  border-top: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
}

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo {
  float: left;
}

#cabecera #buscador {
  float: right;
}

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li {
  display: inline;
  float: left;
}

/*-- Secci�n Principal -----------------------------------------------*/
#contenido #principal .articulo img {
  width: 100px;
  float: left;
  margin: 0.5em;
}

/*-- Pie de p�gina ---------------------------------------------------*/
#pie .enlaces {
  float: left;
}

#pie .copyright {
  float: right;
}

/* === IMPORTANTE ===================================================
   A partir de aqu�, se pueden a�adir todos los estilos propios que 
   sean necesarios.
   ================================================================== */
#noticias, 
#publicidad, 
#principal, 
#secundario {
  padding: 0.5em;
}

.articulo {
  margin-bottom: 1em;
}

#publicidad {
  margin-top: 1em;
}

#menu {
  border-bottom: 3px solid #79b6f3;
}

#noticias {
  border: 1px solid #C5C5C5;
}

#publicidad {
  border: 1px dashed #C60;
}

#secundario {
  border: 1px solid #C60;
}