@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

.franja {
    background-color: #52b7bd;
    margin-top: 150px;
    text-align: center;
    padding: 20px;
}

.franja p {
    font-family: 'Lobster', sans-serif;
    color: white;
    font-size: 60px;
}

.franja img {
    margin-top: -60px;
}