* {
    margin: 0;
    padding: 0;
}

.caja-1 {
    width: 400px;
    height: 200px;
    background-color: gold;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 100px;
}

.caja-2 {
    width: 300px;
    height: 200px;
    background-color: green;
    /* margin: 40px; Todos los lados */
    /* margin: 40px 20px; Arriba y abajo | derecha e izquierda */
    /* margin: 20px 40px 60px; Arriba | derecha e izquierda | abajo */
    margin: 20px 30px 40px 50px; /* Arriba | derecha | abajo | izquierda */
}

.aviso {
    font-size: 32px;
    color: crimson;
    border: 1px solid crimson;
    margin: 40px;
    padding: 20px 40px;
}