body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section:nth-of-type(2) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    display: inline-block;
    padding: 10px 20px;
    width: 10%;
    margin: 5px;
    background-color: #0074d9;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 16px;
}

a:not(#directorioPadre) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a:hover {
    background-color: #0056b3;
}

#directorioPadre {
    width: fit-content;
    background-color: #f08c3a;
}

#directorioPadre:hover {
    background-color: #f17107;
}

#directorioPadreP {
    display: inline-block;
    width: 200px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #da4040;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 16px;
}

pre {
    display: flex;
    justify-content: center;
}

pre code {
    font-family: 'Courier New', monospace;
}
